.section-gap {
	padding: 120px 0;
}
.section-title {
	padding-bottom: 30px;
	h2 {
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
		margin-bottom: 0;
		@include media-breakpoint-down (md) {
			br {
				display: none;
			}
		}
	}
}

.alert-msg{
	color:#008000;
}

.primary-btn {
	background-color:$primary-color;
	line-height: 42px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 25px;
	border:none;
	color: $white;
	display: inline-block;
	font-weight: 500;
	position: relative;
	@include transition();
	cursor: pointer;
	position: relative;
	&:focus {
		outline: none;
	}
	span {
		color: $white;
		position: absolute;
		top: 50%;
		transform: translateY(-60%);
		right: 30px;
		@include transition();
	}
	&:hover {
		color: $white;
		span {
			color: $white;
			right: 20px;
		}
	}
	&.white {
		border: 1px solid $white;
		color: $white;
		span {
			color: $white;
		}
		&:hover {
			background: $white;
			color: $primary-color;
			span {
				color: $primary-color;
			}
		}
	}
}


.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


//--------- Start Banner Area -------------//

.banner-area {
	background:url(../img/banner-bg.jpg) center;
	background-size:cover;
	.fullscreen {
		@include media-breakpoint-down (sm) {
			height: 700px !important;
		}
	}
	.primary-btn{
		padding-left: 30px;
		padding-right: 30px;
	}
	.overlay-bg{
		background-color:rgba(#04091e,.7);
	}

}
.banner-content {
	text-align:center;
	h1{
		color:$white;
		font-size: 48px;
		font-weight: 700;
		line-height: 1em;
		margin-top:20px;
		margin-bottom:20px;
		@media ( max-width:414px ) {
			font-size:25px;
		}
	}
	p{
		max-width:900px;
	}
}


.header-btn{
	background-color:$primary-color;
	border-radius:0;
	padding-left:30px;
	padding-right:30px;
	border:1px solid transparent;
	color:$white;
	&:hover{
		border:1px solid $white;
		background:transparent;
		color:$white;
	}
}

.banner-img{
	text-align:right;
	@media(max-width:767px){
		width:60%;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
	}
}


//--------- End Banner Area -------------//

//--------- start Service Area -------------//

.single-service{
	text-align:center;
	border:1px solid #eee;
	border-radius:10px;
	padding:25px;
	@include transition();
	h4{
		margin-bottom:20px;
	}
	p{
		margin-bottom:0;
	}
	&:hover{
		background-color:#04091e;
		border-color:#04091e;
		h4{
			color:$primary-color;
		}
	}
	@media(max-width:1024px){
		padding: 22px;
	}
	@media(max-width:991px){
		margin-bottom:30px;
	}
}

//--------- end Service Area -------------//

//--------- start gallery Area -------------//

.gallery-area{
	.single-gallery{
		margin-bottom:30px;
		.content {
		  position: relative;
		  max-width: 100%;
		  margin: auto;
		  overflow: hidden;
		  .primary-btn{
		  	border-radius:0px;
		  	@media(max-width:414px){
				font-size:10px;
		  	}
		  }
		}
		.content .content-overlay {
		  background-color:#373642;
		  position: absolute;
		  left: 0;
		  top: 0;
		  bottom: 0;
		  right: 0;
		  opacity: 0;
		  border-radius:10px;
		  border:1px solid $primary-color;
		  -webkit-transition: all 0.4s ease-in-out 0s;
		  -moz-transition: all 0.4s ease-in-out 0s;
		  transition: all 0.4s ease-in-out 0s;
		}

		.content-overlay{
			margin:20px;
			@media(max-width:414px){
				margin:0px;
			}
		}

		.content:hover .content-overlay{
		  opacity: .8;
		}

		.content-details {
		  position: absolute;
		  text-align: center;
		  padding-left: 1em;
		  padding-right: 1em;
		  width: 100%;
		  top: 50%;
		  left: 50%;
		  opacity: 0;
		  -webkit-transform: translate(-50%, -50%);
		  -moz-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  -webkit-transition: all 0.3s ease-in-out 0s;
		  -moz-transition: all 0.3s ease-in-out 0s;
		  transition: all 0.3s ease-in-out 0s;
		}

		.content-title{
			width:60%;
		  	border-bottom:1px solid $primary-color;
			font-size:18px;
			color:$white;
			font-weight:500;
			padding:20px 0px;
			@media(max-width:414px){
				width:92%;
				font-size:15px;
			}
		}

		.content:hover .content-details{
		  top: 50%;
		  left: 50%;
		  opacity: 1;
		}

		.content-image{
			width:100%;
		}

		.content-details p{
		  color: #fff;
		  font-size: 0.8em;
		}

		.fadeIn-bottom{
		  top: 80%;
		}
	}
}

//--------- end gallery Area -------------//

//--------- Start Feature Area -------------//

.feature-area{
	background-color: $primary-color;
	.single-feature{
		background:$white;
		padding:32px;
		border-radius:10px;
		margin-bottom:30px;
		@include transition();
		h4{
			@include transition();
		}
		.title{
			.lnr{
				color:$black;
				font-weight:600;
				font-size:25px;
				margin-right:15px;
			}
		}
		p{
			margin-bottom:0px;
			margin-top:15px;
		}
		&:hover{
			background-color:#04091e;
			cursor:pointer;
			h4,.lnr{
				color:$primary-color;
			}
		}
		@media(max-width:1024px){
			padding: 30px;
		}
	}

}

//--------- End Feature Area -------------//


//--------- Start testimonial Area -------------//

.testimonial-area{
	.owl-dots {
	    text-align: center;
	    bottom: 5px;
	    margin-top:70px;
	    width: 100%;
	    -webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	    backface-visibility: hidden;
	}

	.owl-dot {
	    height: 10px;
	    width: 10px;
	    display: inline-block;
	    background: rgba($primary-color, .2);
	    margin-left: 5px;
	    margin-right: 5px;
	    @include transition();
	}

	.owl-dot.active {
		@include transition;
	    background:$primary-color;
	}
}


.single-testimonial{
	background-color:$white;
	border:1px solid #eeeeee;
	border-radius:10px;
	padding: 25px 30px 25px 30px;
	@include transition();
	&:hover{
		cursor:pointer;
	}
	.thumb{
		margin-right:30px;
	}
	h4{
		@include transition();
		margin-bottom:5px;
	}
	&:hover{
		 h4{
		 	color:$primary-color;
			cursor:pointer;
		 }
	}
	.star{
		.checked {
		    color: $primary-color;
		}
	}
	@media(max-width:575px){
		margin:15px;
	}
}


//--------- End testimonial Area -------------//


//--------- Start callto-action Area -------------//

.callto-action-wrap{
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/call-action-bg.jpg) center;
	background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/call-action-bg.jpg) center;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/call-action-bg.jpg) center;
	background-size:cover;
	border-radius:10px;
	text-align:center;
	color:$white;
	h1{
		color:$white;
	}
	p{
		max-width:560px;
		margin:20px 0;
	}
	.primary-btn{
		border-radius:0px;
		border:1px solid transparent;
		&:hover{
			background:transparent;
			border-color:$white;
			color:$white;
		}
	}
}

//--------- End callto-action Area -------------//


//--------- start blog Area -------------//


.blog-area{
	.owl-dots {
	    text-align: center;
	    bottom: 5px;
	    margin-top:70px;
	    width: 100%;
	    -webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	    backface-visibility: hidden;
	}

	.owl-dot {
	    height: 10px;
	    width: 10px;
	    display: inline-block;
	    background: rgba($primary-color, .2);
	    margin-left: 5px;
	    margin-right: 5px;
	    @include transition();
	}

	.owl-dot.active {
		@include transition;
	    background:$primary-color;
	}

	.single-blog-post{
		.thumb{
			img{
				border-radius:10px;
			}
		}
		.tags{
			margin:20px 0px;
			li{
				display:inline-block;
				border:1px solid #eee;
				padding:4px 12px;
				@include transition();
				&:hover{
					background-color:$primary-color;
					a{
						color:$white;
					}
				}
				a{
					font-weight:400;
					font-size:12px;
					color:$black;
				}
			}
		}
		.title{
			@include transition();
			margin:20px 0;
			&:hover{
				color:$primary-color;
			}
		}
		.date{
			color:$black;
			font-weight:300;
		}
		@media(max-width:575px){
			margin:15px;
		}

	}

}

//--------- end blog Area -------------//

//--------- start brand Area -------------//

.brands-area{
	background-color:$offwhite;
	.brand-wrap{
		padding:40px 0;
		.owl-carousel .owl-item img{
			width:auto!important;
		}
		.single-brand{
			text-align:center;
			@include filter(grayscale, 100%);
			opacity:.5;
			@include transition();
			&:hover{
				@include filter(grayscale, 0%);
				opacity:1;
			}
		}
	}

}

//--------- end brand Area -------------//

//--------- start footer Area -------------//

	.footer-area{
		padding-top:100px;
		h6{
			margin-bottom:25px;
			font-size:18px;
			font-weight:600;
		}
	}
	.copy-right-text{
		i,a{
			color:$primary-color;
		}
	}


	.footer-social{
		a{
			padding-right:25px;
			@include transition();
			&:hover{

				i{
						color:$primary-color;
				}
			}
		}

		i{
			color:#cccccc;
			@include transition();

		}
		@include media-breakpoint-down(md) {
			text-align:left;
		}
	}


	.single-footer-widget {
		input {
			border: none;
			width:80%!important;
			font-weight: 300;
			background: #f9f9ff;
			padding-left:20px;
			border-radius: 0;
			font-size: 14px;
			padding: 10px 18px;
			border:1px solid #f9f9ff;
			&:focus {
				background: #f9f9ff;
    			box-shadow:none;
			    border:1px solid #f9f9ff;
			}
		}

		.bb-btn{
			color:$primary-color;
			color:#fff;
			font-weight:300;
			border-radius:0;
			z-index:9999;
			cursor:pointer;
		}

		.info {
				position:absolute;
				margin-top:20%;
				color: #fff;
				font-size: 12px;
				&.valid {
					color: green;
				}
				&.error {
					color: red;
				}
		}

		.click-btn{
			background-color:$primary-color;
			color: #fff;
			border-radius: 0;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			padding: 8px 12px;
			border:0;
		}

		::-moz-selection { /* Code for Firefox */
	  	 	 background-color: #191919!important;
	  		 color: $text-color;
		}
		::selection {
		    background-color: #191919!important;
		    color: $text-color;
		}
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    $text-color;
		    font-weight: 300;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    $text-color;
		   opacity:  1;
		   font-weight: 300;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    $text-color;
		   opacity:  1;
		   font-weight: 300;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    $text-color;
		   font-weight: 300;
		}
		::-ms-input-placeholder { /* Microsoft Edge */
		   color:    $text-color;
		   font-weight: 300;
		}

		@include media-breakpoint-down(md) {
			margin-bottom:30px;
		}
	}



		@media(max-width:800px){
			.social-widget{
				margin-top:30px;
			}
		}


	.footer-text{
		padding-top:20px;
		a,i{
			color:$primary-color;
		}
	}

//--------- end footer Area -------------//

//----------- Start Generic Page -------------//

.whole-wrap{
	background-color:$white;
}


.generic-banner {
	margin-top:60px;
	background-color:$primary-color;
	text-align:center;
	.height {
		height: 600px;
		@include media-breakpoint-down (sm) {
			height: 400px;
		}
	}
	.generic-banner-content {
		h2 {
			line-height: 1.2em;
			margin-bottom: 20px;
			br {
				@include media-breakpoint-down (md) {
					display: none;
				}
			}
		}
		p {
			text-align:center;
			font-size: 16px;
			br {
				@include media-breakpoint-down (md) {
					display: none;
				}
			}
		}
	}
}

.generic-content{
	h1{
		font-weight:600;
	}
}


.about-generic-area {
	background: $white;
	.border-top-generic {

	}
	p {
		margin-bottom: 20px;
	}
}
.white-bg {
	background: $white;
}
.section-top-border {
	padding: 50px 0;
	border-top: 1px dotted #eee;
}
.switch-wrap {
	margin-bottom: 10px;
	p {
		margin: 0;
	}
}
//----------- End Generic Page -------------//


//--------- Start about-video Area -------------//

.about-video-left{
	h6{
		color:$primary-color;
		font-weight:300;
		letter-spacing:2px;
		font-size:12px;
	}
	h1{
		padding:20px 0;
		@media(max-width:413px){
			br{
				display:none;
			}
		}
	}
	p{

		margin-bottom:0px;
		span{
			font-size:16px;
			font-weight:300;
			color:$black;

		}
	}

	.primary-btn{
		border-radius:0;
		border:1px solid transparent;
		&:hover{
			background:transparent;
			border-color:$primary-color;
			color:$primary-color;
		}
	}

}


.about-video-right{
	background:url(../img/video-bg.jpg) no-repeat center;
	background-size:cover;
	height:330px;
	.overlay-bg{
		background:#04091e;
		opacity:.8;
	}
	.play-btn{
		z-index: 2;
	}
	@media(max-width:960px){
		margin-top:100px;
	}
}


//--------- End about-video Area -------------//

//--------- Start project detials Area -------------//


.project-details-right{
	@media(max-width:991px){
		margin-top:50px;
	}
	.details-info{
		.names{
			li{
				font-weight:400;
				color:black;
			}
		}
		.desc{
			li{
				margin-left:20px;
			}
			.star{
				.checked {
				    color: $primary-color;
				}
			}
		}
	}

	.social-links{
		i{
			color:$text-color;
			@include transition();
			margin-right:10px;
			&:hover{
				color:$primary-color;
			}
		}
	}
}


//--------- End project detials Area -------------//


//--------- Start Common Page Style For  -------------//

.link-nav{
	margin-top:10px;
	margin-bottom:0px;
}

.about-content{
	margin-top: 110px;
	padding: 50px 0px;
	text-align:center;
	@media(max-width:767px){
		margin-top:70px;
	}
	h1{
		font-size: 48px;
		font-weight:600;
	}
	a{
		color:$white;
		font-weight:300;
		font-size:14px;
	}
	.lnr{
		margin:0px 10px;
		font-weight:600;
	}
}

//--------- End Common Page Style For  -------------//



// ============= Start contact Page Styles  =============  //

.contact-page-area{
	background:$offwhite;
	.map-wrap{
		margin-bottom:120px;
		@media(max-width:991px){
			margin-bottom:50px;
		}
	}

	.contact-btns{
		font-size:18px;
		font-weight:600;
		text-align:center;
		padding:40px;
		color:$white;
		margin-bottom:30px;
		&:hover{
			color:$white;
		}
	}

	.form-area{
		input{
			padding: 15px;
		}
		input,textarea{
			border-radius:0;
			font-size:12px;
		}
		textarea{
			height: 190px;
			margin-top: 0px;
		}

		.primary-btn{
			@include transition();
			&:hover{
				border:1px solid $primary-color;
				color:$primary-color!important;
			}
		}
	}


	.single-contact-address {
		margin-bottom:20px;
		h5{
			font-weight:300;
			font-size:16px;
			margin-bottom:5px;
		}
		.lnr{
			font-size:30px;
			font-weight:500;
			color:$primary-color;
			margin-right:30px;
		}
	}

}


// ============= End contact Page Styles  =============  //



/*
################
               Start Blog Home  Page style
################
*/

.blog-home-banner{
	background:url(../img/blog/blog-home-banner.jpg) bottom;
	background-size:cover;
	padding: 130px 0px;
	.primary-btn{
		border-radius:0px;
		background:$white;
		color:$black;
		font-weight:600;
		border:1px solid transparent;
		@include transition();
		&:hover{
			background:transparent;
			border-color:$white;
			color:$white;
		}
	}
	.overlay-bg{
		background:rgba(#000,.50);
	}
}

.blog-page{
	background:#f9f9ff;
}

.blog-header-content{
	h1{
		max-width:500px;
		margin-left:auto;
		margin-right:auto;
		@media(max-width:414px){
			font-size:30px;
		}
	}
	p{
		margin:20px 0px;
	}

}

.top-category-widget-area{
	.single-cat-widget{
		.overlay-bg{
			background:rgba(#000, .85);
			margin:7%;
			@include transition();
		}
		position:relative;
		text-align:center;
		img{
			width:100%;
		}
		.content-details{
			top: 32%;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			color:$white;
			bottom:0px;
			position: absolute;
			h4{
				color:$white;
			}
			span{
				display:inline-block;
				background:$white;
				width:60%;
				height:1%;
			}
		}
		&:hover{
			.overlay-bg{
				background:rgba($primary-color, .85);
				margin:7%;
				@include transition();
			}
		}
		@media(max-width:991px){
			margin-bottom:50px;
		}
	}
}

.post-content-area{
	.single-post{
		margin-bottom:50px;
		.meta-details{
			text-align:right;
			margin-top:35px;
			@media(max-width:767px){
				text-align:left;
			}
			.tags{
				margin-bottom:30px;
				li{
					display:inline-block;
					font-size:14px;
					a{
						color:$black;
						@include transition();
						&:hover{
							color:$primary-color;
						}
					}
				}
			}
			@media(max-width:1024px){
				margin-top:0px;
			}
		}

		.user-name,.date,.view,.comments{
			a{
				color:$text-color;
				margin-right:10px;
				@include transition();
				&:hover{
					color:$primary-color;
				}
			}
			.lnr{
				font-weight:900;
				color:$black;
			}
		}
		.feature-img{
			img{
				width:100%;
			}
		}
		.posts-title{
			h3{
				margin:20px 0px;
			}
		}
		.excert{
			margin-bottom:20px;
		}
		.primary-btn{
			background:$white !important;
			color:$black !important;
			@include transition();
			border-radius:0px!important;
			&:hover{
				background:$primary-color!important;
				color:$white!important;
			}
		}

	}
}

.blog-pagination{
	padding-top:60px;
	padding-bottom:120px;
	.page-link{
		border-radius:0;
	}
	.page-item{
		border:none;
	}
}

.page-link{
	background:transparent;
  	font-weight: 400;
}

.blog-pagination .page-item.active .page-link {
  background-color: $primary-color;
  border-color: transparent;
}

.blog-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $text-color;
  border: none;
}

.blog-pagination .page-link .lnr {
  font-weight: 600;
}

.blog-pagination .page-item:last-child .page-link, .blog-pagination .page-item:first-child .page-link {
  border-radius: 0;
}

.blog-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: $primary-color;
  border-color: #eee;
}

.widget-wrap{
	background:#fafaff;
	padding:20px 0px;
	border:1px solid #eee;
	@media(max-width:991px){
		margin-top:50px;
	}
	.single-sidebar-widget{
		margin:30px 30px;
		padding-bottom:30px;
		border-bottom:1px solid #eee;
		&:last-child{
			border-bottom:none;
			margin-bottom:0px;
		}
	}

	.search-widget{

		form.search-form input[type=text] {
			color:$white;
		    padding: 10px 22px;
		    font-size: 14px;
		    border: none;
		    float: left;
		    width: 80%;
			border-bottom-left-radius:20px;
			border-top-left-radius:20px;
			background:$primary-color;
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $white;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: $white;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: $white;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: $white;
		}

		form.search-form button {
		    float: left;
		    width: 20%;
		    padding: 10px;
			background:$primary-color;
		    color: white;
		    font-size: 17px;
		    border: none;
		    cursor: pointer;
			border-bottom-right-radius:20px;
			border-top-right-radius:20px;
		}

		form.search-form::after {
		    content: "";
		    clear: both;
		    display: table;
		}
	}

	.user-info-widget{
		text-align:center;
		a h4{
			margin-top:40px;
			margin-bottom:5px;
			@include transition();
		}
		.social-links{
			li{
				display:inline-block;
				margin-bottom:10px;
				a{
					color:$black;
					padding:10px;
					font-size:14px;
					@include transition();
					&:hover{
						color:$primary-color;
					}
				}
			}
		}
	}

	.popular-post-widget{
		.popular-title{
			background:$primary-color;
			color:$white;
			text-align:center;
			padding:12px 0px;
		}
		.popular-post-list{
			margin-top:30px;
			.thumb{
				img{
					width:100%;
				}
			}
		}
		.single-post-list{
			margin-bottom:20px;
			.details{
				margin-left: 12px;
				h6{
					font-weight:600;
					margin-bottom:10px;
				}
				p{
					margin-bottom:0px;
				}
			}
		}
	}

	.ads-widget{
		img{
			width:100%;
		}
	}

	.post-category-widget{
		.category-title{
			background:$primary-color;
			color:$white;
			text-align:center;
			padding:12px 0px;
		}
		.cat-list{
			li{
				p{
					font-weight:300;
					font-size:14px;
					margin-bottom:0px;
					@include transition();
				}
				a{
					color:$text-color;
				}
				padding-top:15px;
				padding-bottom:8px;
				border-bottom:2px dotted #eee;
				@include transition();
				&:hover{
					border-color:$primary-color;
					p{
						color:$primary-color;
					}
				}
			}
		}
	}

	.newsletter-widget{
		.newsletter-title{
			background:$primary-color;
			color:$white;
			text-align:center;
			padding:12px 0px;
		}

		.col-autos{
			width:100%;
		}

		p{
			text-align:center;
			margin:20px 0px;
		}
		.bbtns{
			background:$primary-color;
			color:$white;
			font-size:12px;
			font-weight:400;
			padding: 8px 20px;
			border-radius:0;
		}
		.input-group-text{
			background:$white;
			border-radius:0px;
			vertical-align: top;
			i{
				color:#ccc;
				margin-top:-1px;
			}
		}
		.form-control{
			border-left: none!important;
			border-right: none!important;
			border-radius:0px;
			font-size:13px;
			color:#ccc;
			padding:9px;
			padding-left:0px;
			&:focus{
				box-shadow:none;
				border-color:#ccc;
			}
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-size:13px;
		  color:#ccc;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  font-size:13px;
		  color:#ccc;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  font-size:13px;
		  color:#ccc;
		}
		:-moz-placeholder { /* Firefox 18- */
		  font-size:13px;
		  color:#ccc;
		}
		.text-bottom{
			margin-bottom:0px;
		}

	}
	.tag-cloud-widget{
		.tagcloud-title{
			background:$primary-color;
			color:$white;
			text-align:center;
			padding:12px 0px;
			margin-bottom:30px;
		}
		ul{
			li{
				display:inline-block;
				border:1px solid #eee;
				background:#fff;
				padding:4px 14px;
				margin-bottom:10px;
				@include transition();
				&:hover{
					background:$primary-color;
					a{
						color:$white;
					}
				}
				a{
					font-size:12px;
					color:black;
				}
			}
		}
	}

}



/*
################
               End Blog Home  Page style
################
*/


/*
################
               Start Blog Details  Page style
################
*/


.single-post-area{
	padding-top:80px;
	padding-bottom:80px;
	.meta-details{
		margin-top:20px!important;
	}
	.social-links{
		li{
			display:inline-block;
			margin-bottom:10px;
			a{
				color:$black;
				padding:7px;
				font-size:14px;
				@include transition();
				&:hover{
					color:$primary-color;
				}
			}
		}
	}


	.quotes{
		margin-top:20px;
		padding:30px;
		background-color: rgb(255, 255, 255);
		box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
	}

	.arrow{
		position:absolute;
		.lnr{
			font-size:20px;
			font-weight:600;
		}
	}

	.thumb{
		.overlay-bg{
			background:rgba(#000,.8);
		}
	}

	.navigation-area{
		border-top:1px solid #eee;
		padding-top:30px;
		.nav-left{
			text-align:left;
			.thumb{
				margin-right:20px;
				background:#000;
				img{
					@include transition();
				}
			}
			.lnr{
				margin-left:20px;
				opacity:0;
				@include transition();
			}
			&:hover{
				.lnr{
					opacity:1;
				}
				.thumb{
					img{
						opacity:.5;
					}
				}
			}
			@media(max-width:767px){
				margin-bottom:30px;
			}
		}
		.nav-right{
			text-align:right;
			.thumb{
				margin-left:20px;
				background:#000;
				img{
					@include transition();
				}
			}
			.lnr{
				margin-right:20px;
				opacity:0;
				@include transition();
			}
			&:hover{
				.lnr{
					opacity:1;
				}
				.thumb{
					img{
						opacity:.5;
					}
				}
			}
		}
	}

}

.comments-area{
	background:#fafaff;
	border:1px solid #eee;
	padding:50px 20px;
	margin-top:50px;
	@media(max-width:414px){
		padding:50px 8px;
	}
	h4{
		text-align:center;
		margin-bottom:50px;
	}

		a{
			color:$black;
		}
		.comment-list{
			padding-bottom:30px;
			&:last-child{
				padding-bottom:0px;
			}
			&.left-padding{
				padding-left:25px;
			}
			@media(max-width:413px){
				.single-comment{
					h5{
						font-size:12px;
					}
					.date{
						font-size:11px;
					}
					.comment{
						font-size:10px;
					}
				}
			}
		}

		.thumb{
			margin-right:20px;
		}
		.date{
			font-size:13px;
			color:#cccccc;
		}
		.comment{
			color:#777777;
		}
		.btn-reply{
			background-color:$white;
			color: $black;
			padding: 8px 30px;
			display:block;
			@include transition();
			&:hover{
				background-color:$primary-color;
				color: $white;
			}
		}
}


.comment-form{
	text-align:center;
	background:#fafaff;
	border:1px solid #eee;
	padding:50px 20px;
	margin-top:50px;
	h4{
		text-align:center;
		margin-bottom:50px;
	}
	.name{
		padding-left:0px;
		@media(max-width:991px){
			padding-right:0px;
		}
	}
	.email{
		padding-right:0px;
		@media(max-width:991px){
			padding-left:0px;
		}
	}
	.form-control{
		padding:10px;
		background:#fff;
		border:none;
		border-radius:0px;
		width:100%;
		font-size:13px;
		color:#777777;
		&:focus{
			box-shadow:none;
		}
	}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-size:13px;
		  color:#777;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  font-size:13px;
		  color:#777;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  font-size:13px;
		  color:#777;
		}
		:-moz-placeholder { /* Firefox 18- */
		  font-size:13px;
		  color:#777;
		}
		.primary-btn{
			border-radius:0px!important;
			border:1px solid transparent;
			&:hover{
				background:transparent;
				border-color:$primary-color!important;
				color:$primary-color!important;
			}
		}
}


/*
################
               End Blog Details  Page style
################
*/
